.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  background-color: var(--black);
  z-index: 100;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}
.link {
  color: var(--gray);
  font-weight: 500;
  font-size: 1rem;
}
.logo {
  font-size: 1.2rem;
}
.link:hover {
  color: var(--white);
  transition: all 0.3s;
}
.mobile-drawer {
  display: none;
}
@media only screen and (max-width: 800px) {
  .navbar {
    padding: 1.5rem;
  }
  .link {
    font-size: 0.8rem;
  }
  .logo {
    font-size: 1rem;
  }

  .links {
    display: none;
  }
  .mobile-drawer {
    display: block;
  }
  .drawer-div {
    width: 40vw;
    background-color: var(--black);
    height: 100vh;
    padding: 1.5rem;
  }
}
